<apex:page StandardController="opportunity__c" Extensions="Opportunity_Budget_CSV_Export_Ext" showHeader="true" sidebar="true">
  <apex:form >
    <apex:actionFunction name="loadNextPage" action="{!nextStep}" />
  </apex:form>
  <script>
    window.open('Opportunity_Budget_CSV_Export?id={!opportunity__c.Id}', '_blank');
    loadNextPage();
  </script>
</apex:page>